<div class="post">
  <div class="title">
    <a href="{{url}}" target="_blank">{{title}}</a>
    <span>({{url}})</span>
  </div>
  <div class="meta">
      Posted by {{user_id}} on {{created_at}}

    <a href="/post/{{id}}">{{comments.length}} {{comments.length}}</a>
  </div>
</div>